body{
    background-image:url(../media/galaxy_gradient.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    margin:0px;
    font-family: Orbitron, Arial, Helvetica, sans-serif;
}

/* Navigation Bar for movies pages, about us page and characters page */
nav {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex; /* Display links side-by-side on desktop */
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    transition: padding 0.3s ease; /* To tranisition into the effect of a navbar item "pushing" when hovered over */
}

.nav-links a:hover {
    padding: 0px 35px;
    color: #a683c7; /* The extra padding gives that push effect when an item is hovered over */
}

/* Hide hamburger menu on desktop */
#menu-toggle, .menu-icon {
    display: none;
}

/*for the movies pages*/
.container{
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 10px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.mixtape{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mixtape img{
    opacity: 0.5;
    transition: opacity 0.5s ease-in; /*for when opacity is changed when mixtape is clicked*/
}
audio {
    width: 230px;
    opacity:0.5;
    transition: opacity 0.5s ease-in; /*for when opacity is changed when mixtape is clicked*/
}

/*movie poster*/
.content img{
    float: left;
    margin-right: 20px;
}

.scenes{
    clear:left;
    display:flex;
    justify-content: center;
}
.scenes img{
    clear: left;
    margin-bottom: 10px;
    margin-right: 200px;
}

/* Characters Gallery - 3 per row */
.characters {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.charactercard {
    text-align: center;
}

.charactercard img {
    width: 320px ;
    height: 380px ;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    background-color: rgba(0, 0, 0, 0.2);
}

.charactercard img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(166, 131, 199, 0.5);
}

.charactername {
    color: white;
    font-family: Orbitron;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

/*About Us css*/
#about-us-h2 {
    color: white;
    font-size: 40px;
    margin-left: 20px;
}

.row1{
    display: flex; 
    gap: 40px; 
    margin-bottom: 40px;
    margin-left: 20px;
}
.row2{
    display: flex; 
    gap: 60px; 
    margin-bottom: 60px;
    margin-left: 20px;
}
.about-feedback-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px; /* space between sections and feedback form */
    padding: 20px;
}
.about-sections{
    display: flex;
    
}
.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* more spacing between sections */
    gap: 20px; /* space between image and text box */
}

.about-section img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white; /* makes the image stand out */
}

.description-box {
    background-color: rgba(255, 255, 255, 0.8); /* light background so text is readable */
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    flex: 1;
    backdrop-filter: blur(3px);
    font-size: 18px;
    color: black;
}

/* FEEDBACK FORM */
.feedback-container {
    border-radius: 10px;
    background-color: rgba(128, 0, 128, 0.85);
    padding: 25px;
    max-width: 700px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    color: white;
    min-height: 700px;
}

.feedback-container h2 {
    text-align: center;
    color: white;
}

.feedback-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    min-height: 50px;
}

.feedback-label {
    width: 25%;
    font-weight: bold;
    padding: 12px;
}

.feedback-input {
    width: 75%;
}

.feedback-input input,
.feedback-input select,
.feedback-input textarea {
    height: 50px;
    width: 80%;
    padding: 12px;
    border: 2px solid #d6b3ff;
    border-radius: 5px;
    background: white;
    color: black;
}

.feedback-submit {
    background-color: #b066ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 16px;
    display: flex;
}

.feedback-submit:hover {
    background-color: #8f3fff;
}





footer{
    text-align: center;
    padding:10px;
    color:white;
}
footer a{
    color: white;
}

/* TABLET (and smaller) STYLES */
@media (max-width: 1024px) {
    /*movies page container to have less margin and padding*/
    .container {
        margin: 5px;
        padding: 5px;
    }
    
    /* for navbar items to not "push" so much*/
    .nav-links a {
        padding: 0px 10px;
    }

    .nav-links a:hover {
        padding: 0px 20px; 
    }


    /*for youtube videos to be smaller*/
    iframe{
        width:350px;
        height:200px;
    }

    /*less space between quotes and trailer*/    
    .scenes img{
        margin-right: 20px;
    }

    /*adjusting margin around about us section of our profiles*/
    .row1{
        margin: 10px;
    }
    .row2{
        margin: 10px;
    }
}

/* MOBILE STYLES */
@media (max-width: 768px) {
    /*displaying hamburger menu*/
    .menu-icon {
        display: block;
        right: 20px;
        top: 20px;
        cursor: pointer;
        font-size: 30px;
        color: white;
        z-index: 10; 
    }

    nav {
        justify-content: space-between; 
        padding: 10px 20px;
        position: relative;
        z-index: 9999;
        background-color: rgba(0,0,0,0.6); 
    }
    .nav-links {
        display: none;
        flex-direction: column; 
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333; 
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    
    .nav-links a {
        display: block;
        padding: 15px 0;
        border-bottom: 1px solid #555; 
    }
    

    #menu-toggle:checked ~ .nav-links {
        display: flex; 
    }

    /*making quotes and trailers come one after another to fit the space*/
    .scenes{
        flex-direction: column;
    }

    /*changing the grid layout for characters page so that it is only one character per row*/
    .characters{
        grid-template-columns: repeat(1, 320px);
    }


    /*making about us rows into a singular column*/
    .row1{
        flex-direction: column;
        margin-right: 10px;
    }
    .row2{
        flex-direction: column;
        margin-right: 10px;
    }

    /*adjusting size for feedback form*/
    .feedback-container {
        max-width: 700px;
        min-height: 700px;
        margin: 10px;
    }

}
